body{
    background: dimgray;
}
*{
    margin: 0;
    padding: 0;
}
.box2{
 height: 130px;   
 width: 140px;
 background: yellowgreen;
}
.box1{
    height: 130px;
    width: 140px;
    background: rebeccapurple;
}
.box1:hover+ .box2{
    background: yellow;
}
.div1{
    width: 120px;
    height: 110px;
    background: yellowgreen;
    border: 1px solid #0000;
    padding: 10px;
    font-size: 30px;
    margin: 50px auto;
    text-align: center;
    transform: skew(-30deg);
}
.div2{
    width: 100px;
    height: 100px;
    background: red;
    border: 2px solid #000;
    padding: 10px;
    font-size: 30px;
    transform: translate(20px, 30px);
}
.div3{
    width: 100px;
    height: 100px;
    background: red;
    border: 2px solid #000;
    padding: 10px;
    font-size: 30px;
    transform: translateY(40px);
}

.div4{
    width: 100px;
    height: 100px;
    background: red;
    border: 2px solid #000;
    padding: 10px;
    font-size: 30px;
    transform: translateX(40px);
}
.div5{
    width: 400px;
    height: 200px;
    border: 1px solid blue;
    overflow: scroll;
    text-decoration-color: chocolate;
    color: darkkhaki;

}
a.my-link:hover{
    color: yellow;
}
input{
    padding: 10px;
    font-size: 1rem;
    width: 140px;
}
input:focus{
    background-color: goldenrod;
}
table, tr, td{
border: 2px solid blue;
color: black;
}
tr:nth-child(odd){
    background-color: yellow;
}
table, tr, td{
    border: 2px solid blue;
    color: black;
    }
    tr:nth-child(even){
        background-color: darkorchid;
    }
    P:hover{
        color: yellow;
    }
    p::before{
        content:"nuralam";
        font-size: 40px;
    }
    h1{
        font-family: 'Big Shoulders Display', cursive;  
    }
    .green-box{
width: 600px;
height: 350px;
background-color: green;
position: relative;

    }
    .red-box{
width: 200px;
height: 200px;
background-color: red;
position: absolute;
right: 0;
bottom: 0;
left: 0;
top: 0;
margin: auto;
border-radius: 50%;
    }
    .name{
     border: 3px solid red;   
     padding: 10px;
     margin-top: 20px;
     background: yellowgreen;
     position: sticky;
     top: 0;
    }
    p2{
      padding-bottom: 1000px; 
      color: white;
      font-size: 20px;
    }
    .lorem{
        position: fixed;
        bottom: 0;
        right: 40px;
        width: 400px;
        border: 3px solid yellowgreen;
        color: white;
    }
    h1{
        text-align: center;
        color: yellow;
        font-size: 50px;
    }