*{
    margin: 0;
    padding: 0;
}
.box2{
 height: 130px;   
 width: 140px;
 background: yellowgreen;
}
.box1{
    height: 130px;
    width: 140px;
    background: rebeccapurple;
}
.box1:hover+ .box2{
    background: yellow;
}